/*Miguel Fernandez*/
/*Stylesheet for new pages*/

.img_float {
  float: right;
  clear: left;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

a:hover {
  color: red;
  text-decoration: underline;
}

