/*Miguel Fernandez*/
/*Stylesheet for new pages*/

#container {
  margin: auto;
  margin-top: 2em;
  width: 400px;
  border: 1px solid;
  padding: 8px;
}

img {
  margin-left: 4px; 
  margin-bottom: 4px;
  float: right;
  clear: right;
}

a:hover {
  color: red;
  text-decoration: underline;
}

