/*Miguel Fernandez*/
/*Stylesheet for new pages*/

  #container {
    margin: auto;
    margin-top: 2em;
    width: 500px;
    border: 1px solid;
    padding: 8px;
  }

  .img_right {
    display: block;
    margin-left: 4px; 
    margin-bottom: 4px;
    float: right;
    clear: right;
    width: 100%;
  }

  .p_left {
    float: left;  
  }  

  a:hover {
    color: red;
    text-decoration: underline;
  }
